asgiref
Bcrypt
cffi
click
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycparser
six
SQLAlchemy
sqlparse
Werkzeug
WTForms
zipp